@{
   var productlist = new List<String> {
        "Tên Sản phẩm 1",
        "Tên Sản phẩm 2",
        "Tên Sản phẩm 3"
     };
}
<mylist title="Danh sách sản phẩm" list-items="@productlist"></mylist>

@Html.Raw("<hr /> <h1>Test</h1>")